.footer {
    height: 100px;
    /* background: #111; */
    display: grid;
    align-items: flex-end;
    justify-content: end;
    position: absolute;
    bottom: 0;
    right: 0;
}
.footer_logo {
    color: #fff;
    padding-bottom: 1rem;
}