.home {
    min-height: 120vh;
}
.header {
    display: grid;
    /* justify-content: end; */
}
.header_item__wrapper {
    height: 100px;
    /* width: 700px; */
    align-items: center;
    grid-template-columns: 1fr repeat(4, auto);
    grid-gap: 10%;
    display: grid;
}
.header_item {
    display: grid;
    justify-content: center;
    color: #fff;
    transition: 0.1s;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
}
.active {
    color: #FF3A3A;
    /* text-decoration: underline #FF3A3A; */
    transition: 0.1s;
}
.content {
    display: grid;
    grid-template-columns: 1fr auto;
    position: relative;
    min-height: calc(100vh - 1rem - 100px);
}
.content_left {
    align-content: flex-start;
    display: grid;
    grid-gap: 2rem;
    position: relative;
    z-index: 5;
    margin-top: 1rem;
    /* width: 800px; */
}
.content_left__main {
    color: #fff;
    margin-left: -6px;
    font-size: 120px;
    line-height: 120px;
    position: relative;
    font-weight: 900;
}
/* second text row */
.bottom {
    display: grid;
    grid-template-columns: auto auto 1fr;
    position: absolute;
}
.content_right {
    position: fixed;
    right: 5%;
    /* right: 0; */
    z-index: 2;
}
/* svg path { */
    /* transition: 0.2s; */
/* } */
/* svg:hover path { */
    /* d: path("M250 250C250 388.071 250 250 250 500C111.929 500 0 388.071 0 250C0 111.929 111.929 0 250 0C250 250 250 111.929 250 250Z"); */
    /* transition: 0.2s; */
/* } */

/* .content_right img { */
    /* width: 500px; */
/* } */
.content_left__secondary {
    color: rgb(97, 97, 97);
    width: 55%;
    margin-top: 120px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    /* font-style: italic; */
}

.toggle {
    display: grid;
    position: absolute;
    width: 100%;
    left: 0;
    top: 90vh;  
    /* bottom: 5rem; */
    justify-content: center;
    /* margin-top: 4rem; */
    opacity: 0.7;
}
.cursor {
    width: 3px;
    margin-top: 10px;
    height: 100%;
    background: #FF3A3A;
    margin-left: 5px;
    animation: blink 800ms step-end infinite;
}
.disabled {
    animation: none;
}
.type-text {
    margin-left: 2.5rem;
}
.projects {
    /* padding-top: 100px; */
    min-height: 100vh;
    /* position: relative; */
    /* background: red; */
    z-index: 2;   
}
.projects_title {
    display: grid;
    justify-items: end;
}
.projects_title span {
    color: #FFF;
    display: grid;
    font-size: 120px;
    line-height: 120px;
    font-weight: 900;
    /* opacity: 0.2; */
    margin-right: -7px;
}
.projects_content {
    margin-top: 2rem;
    grid-template-columns: 1fr 1fr;
    display: grid;
    /* display: flex; */
    grid-gap: 2rem;
    /* position: absolute; */
    /* width: 100%; */
    /* left: 0; */
    /* margin-left: -15%; */
}

.projects_content__seemore {
    color: #000;
        font-weight: 300;

    /* z-index: 2; */
    z-index: 1;
    display: grid;
    justify-content: end;
    text-align: end;
    align-items: flex-end;
    /* grid-template-rows: 1fr auto; */
    grid-gap: 1rem;
}

.au {
    min-height: 120vh;
    position: relative;
}
.au_title {
    color: #fff;
    display: grid;
    font-size: 120px;
    line-height: 120px;
    font-weight: 900;
    padding-bottom: 1rem;
    /* opacity: 0.2; */
    margin-right: -7px;
}
.au_container {
    position: absolute;
    left: 0;
    width: 100%;
    margin-left: -15%;
    /* z-index: 1; */
}
.au_container__top {
    display: flex;
}
.au_container__middle {
    display: flex;
    margin-left: -99vw;
    position: relative;
    justify-content: flex-start;
    z-index: 3;
}
.au_container__bottom {
    display: flex;
    margin-left: -110vw;
    position: relative;
    justify-content: flex-start;
}
.au_container__top___item {
    color: rgb(192, 192, 192);
    margin-left: 2rem;
    font-size: 40px;
    display: flex;
    flex: 1;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}
.au_text {
    color: rgb(97, 97, 97);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;

    width: 55%;
    margin-top: 200px;
    /* position: absolute; */
    /* bottom: 60vh; */
    position: relative;
    z-index: 10;
}
.contact {
    min-height: 100vh;
    position: relative;
}
.contact_title {
    display: grid;
    justify-items: end;
}
.contact_title span {
    color: #FFF;
    display: grid;
    font-size: 120px;
    line-height: 120px;
    font-weight: 900;
    /* opacity: 0.2; */
    margin-right: -7px;
}
.status {
    position: fixed;
    left: 0;
    top: 0;
    color: #fff;
}
.contact_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
    /* grid-gap: 2rem; */
    position: relative;
    z-index: 10;
    /* remove z-index */
}
.contact_container__left {
    color: rgb(97, 97, 97);
    font-weight: 300;
    width: 90%;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

@keyframes blink {
    0% { background: #FF3A3A }
    50% { background: transparent }
    100% { background: #FF3A3A }
}
@media (min-width: 1400px) {
    .content_right {
        right: 15%;
        /* right: 0; */
    }
}
@media (max-width: 1280px) {
    .content_left__main,
    .projects_title span,
    .au_title,
    .contact_title span {
        font-size: 100px;
        line-height: 100px;
    }
}
@media (max-width: 1024px) {
    .content_left__main,
    .projects_title span,
    .au_title,
    .contact_title span {
        font-size: 80px;
        line-height: 80px;
    }
}
@media (max-width: 500px) {
    .content_right {
        display: none;
    }
    .content_left__main,
    .projects_title span,
    .au_title,
    .contact_title span {
        font-size: 40px;
        line-height: 40px;
    }
    .header {
        opacity: 0;
    }
    .content_left__secondary {
        width: 100%;
        margin-top: 2rem;
    }
    .content_left__main {
        margin: 0;
    }
    .cursor {
        margin-top: 5px;
        height: 90%;
    }
    .type-text {
        margin-left: 1rem;
    }
    .space {
        display: none;
    }
    .home {
        min-height: 100vh;
        /* padding: 0 1rem; */
        width: 100vw;
    }
    .toggle {
        top: 70vh;
    }
    .projects_title span {
        margin: 0;
        padding: 0 1rem;
    }
    .projects {
        /* padding: 0 1rem; */
    }
    .content_left {
        padding: 0 1rem;
    }
    .projects_content {
        grid-template-columns: 1fr;
    }
    .contact_container {
        grid-template-columns: 1fr;
    }
    .au_text {
        width: 100%;
    }
}