.input-group {
    display: grid;
    grid-gap: 2rem;
}
.input_item {
    display: grid;
    position: relative;
}
.input_item input {
    height: 40px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    border: none;
    background: transparent;
    border-bottom: 2px solid rgba(56, 56, 56, 0.178);
    font-weight: bold;
    color: #fff;
    transition: 0.2s;
}
.input_item input::placeholder {
    color: rgba(255, 255, 255, 0.178);
}
.input_item input:focus {
    outline: none;
}
.label {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: rgba(56, 56, 56, 0.178);
    position: absolute;
    bottom: 0.8rem;
    font-size: 16px;
    transition: 0.2s;
    right: 0;
}
.focused {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #fff;
    position: absolute;
    bottom: 0.8rem;
    font-size: 16px;
    transition: 0.2s;
    right: 0;
}
.focused_input input {
    border-bottom: 2px solid rgb(255, 255, 255);
    transition: 0.2s;
}